
<ion-content>
    <ion-card class="welcome-card no-border-radius">
      <ion-card-header class="welcome-card-header">
        <ion-card-title class="white-text center-text">856 dirt Found</ion-card-title>
        <ion-select class="white-text center-text" value="yaba" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="yaba">Yaba, Lagos</ion-select-option>
          <ion-select-option value="lekki">Lekki, Lagos</ion-select-option>
          <ion-select-option value="black">Black</ion-select-option>
          <ion-select-option value="red">Red</ion-select-option>
        </ion-select>
      </ion-card-header>
      <ion-card-content>
        <!-- <p>You view more Statistics here</p> -->
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label class="dirt-detail-label">Plastic Waste : 234</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label class="dirt-detail-label">Dirty Drainage : 135</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label class="dirt-detail-label">Bio-waste : 112</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label class="dirt-detail-label">General Waste : 11</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
